/*h2 {
    background-color: #112031;
    color: white;
}*/
.container_main {
	margin-top: $small;

}

.titulo_contacto {
	font-size: 30px;
	background-color: $secondary;
	align-items: center;
	color: $primary;
}

.texto_contacto {
	font-size: 20px;
	font-style: normal;
}

.btn {
	background-color: $primary;
	color: $secondary;
	border-color: $primary;

	&:hover {
		background-color: $secondary;
		color: $text-color;
		border-color: $primary;
	}
}

section {
	.div_niveles {
		overflow: hidden;
		box-shadow: 0px 0px 5px 1px black;

		img {
			width: 100%;
			height: 100%;
			transition: all 1s ease;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	div {
		div {
			div {
				.card-body {
					background-color: $primary;
					color: $secondary;
					font-size: 20px;
				}
			}
		}
	}
}


.card-text {
	color: $text-color;
}

#card-body {
	background-color: $secondary;
	color: $text-color;
}

div {
	.galery {
		a {
			img {
				width: 100%;
				height: 100%;
				overflow: hidden;
				border-radius: 5px;
				transition: all 1s ease;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	.card-text {
		font-weight: bold !important;
		background-color: $primary  !important;
		color: $secondary  !important;

	}
}


img.d-flex {
	width: 300px;
	height: 300px;
}

.media {
	margin: 2rem;
}

.titulo_ins {
	text-align: center;
	font-size: 30px;
	background-color: $primary;
	color: $secondary;
}

.img {
	align-items: center;
}

.menu {
	background-color: $primary;

	a {
		border-bottom: 1px solid $secondary;
	}
}
/*
.fondo_form {
	box-shadow: 0px 0px 5px 1px rgb(206, 204, 204);
	background-color: rgb(206, 204, 204);
}*/

.form-control,.input-group-text{
	border: 1px solid black;
}