/*Colores*/
$primary: #112031; 
$secondary: white;
$text-color: black;

/*Espacios*/
$large: 6rem;
$medium: 2.4rem;
$small: 2rem;
$xsmall:1rem;

/*Fuentes*/
$fuente-principal: Verdana, Geneva, Tahoma, sans-serif;

/*Tamaño de fuente*/
$large: 5.2rem;
$medium: 2.2rem;
$small: 1.6rem;
$xsmall: 1.4rem;